# Set locale for proper currency and html formatting.
locale: 'en_US.UTF-8'

# Height in inches.
height: 36

# Width in inches.
width: 36

# Tile dimensions in inches.
tile_size_h: 6
tile_size_w: 3

# Name, Cost per Box, Box Minimum (sqft/box), Hex Color Equivalent for Tile Color, Color Weight Array with weights indicating color frequencies from top to bottom of tile grid.
tiles: [
 ['Pearl Gloss', 13, 9.75, '#E8DDD5', [ 610, 377, 233, 144, 89, 55, 34 ]],
 ['Salt Creek Gloss', 13, 9.75, '#ECE9DF', [ 610, 377, 233, 144, 89, 55, 34, 21 ]],
 ['Alberta Blue Gloss', 13, 9.75, '#B0B7B6',  [ 21, 34, 55, 89, 144, 233, 377 ]],
]

